@use 'abstracts' as *;

.button{
  cursor:pointer;
  letter-spacing:0.05em;
  text-align: center;
  padding: 0.8em 2em;
  transition: scale 0.15s ease-in-out;
  &--comercial{
    margin-inline-end: auto;
  }
  &--category,&--map{
    order: 1;
    @include mq(big){
      &{
        justify-self: end;
        order: initial;
      }
    }
  }
  &:hover{
    scale: 0.95;  
  }
}