
.slider-partners{
    overflow-x:hidden;
    position: relative;
    padding-block-end:var(--size-700);
  &::after,&::before{
    background-image: linear-gradient(to right,  rgba(253, 253, 253, 0.63) 0%,rgba(255, 253, 253, 0.95) 100%);
    box-shadow:10px 10px 0px #ffffff2e;
    content:"";
    position:absolute;
    height: 100%;
    top: 0;
    width:10%;
    z-index: 500;
  }
  &::after{
    right: 0;
  }
  &__list{
     --carousel-item-size:70%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    animation: toScroll 30s linear infinite;
  }
}
@keyframes toScroll{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(calc(-280px * 10));
  }
}

