extends ../templates/template.pug
include ../mixins/img-card.pug
include ../mixins/source-data.pug

block main
  include ./contact-form/section-details.pug
  include ./contact-form/section-form.pug